.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


backend/vendor
**/*.log
**/*.sqlite
.idea/
backend/bin/
backend/tmp/
backend/node_modules/
.sass-cache/
*-packr.go
backend/public/assets/
.vscode/
.grifter/
.env
**/.DS_Store
*.pid
backend/coverage
backend/coverage.data
.svn
.console_history
.sass-cache/*
.jhw-cache/
backend/jhw.*
*.sublime*
backend/dist/
backend/generated/
.vendor/

